@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

* {
  font-family: 'Roboto', sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

.login {
  background: url('../img/login-bg.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* padding: 55px 120px; */
  padding: 9% 120px 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.login .links a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.login .about {
	max-width: 484px;
}

.login .about .logo {
	margin-bottom: 15px;
}

.login .about h1 {
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 12px;
}

.login .about h1 span {
	display: block;
	font-size: 38px;
	font-weight: 400;
}

.login .about p {
	color: #fff;
	font-size: 12px;
}

.login .about a {
	width: 113px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 12px;
	border: 1px solid #fff;
	border-radius: 15px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.login .about a:hover {
	border-color: #51b29f;
	background: #51b29f;
}

.login .form-wrap {
  width: 312px;
	/* height: 441px; */
	height: auto;
  background: #fff;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  padding: 31px 29px;
}

/* .login .form-wrap.register {
	height: 480px;
} */

.login .pob-logo {
	margin-bottom: 28px;
	max-width: 150px;
}

.login .sign-in {
  color: #656565;
  font-size: 14px;
  line-height: 1;
	margin-bottom: 20px;
	align-self: flex-start;
}

.login form {
	width: 100%;
}

.login .form-group {
  position: relative;
}

.login .form-group.username:before {
  content: '';
  background: url('../img/icon-user.png');
  background-size: 11px 11px;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -5px;
}

.login .form-group.password:before {
  content: '';
  background: url('../img/icon-key.png');
  background-size: 11px 11px;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -5px;
}

.login input {
  border: 0;
  border-bottom: 1px solid #a3a3a3;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-left: 40px;
  font-size: 12px;
  color: #656565;
}

.login .custom-checkbox {
  padding-left: 18px;
  cursor: pointer;
}

.login .custom-checkbox .custom-control-label::before {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	top: 3px;
	background: none;
  border: 1px solid #878787;
  left: -18px;
}

.login .custom-checkbox .custom-control-label::after {
  content: none;
}

.login .custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-image: none;
	background-color: #878787;
}

.login .custom-control.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
	outline: none;
	box-shadow: none;
}

.login .custom-control-label {
  font-size: 12px;
  color: #656565;
}

.login .forgot-password {
  color: #656565;
  font-size: 12px;
}

.login .submit {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background: #51b29f;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.login .create {
  color: #474747;
  font-size: 13px;
  display: flex;
	align-items: center;
	justify-content: center;
  line-height: 1;
  margin-top: 18px;
}

.login .validation_error {
	position: absolute;
	color: #ed5565;
}


/* HD/Retina CSS */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {

  .login {
		background: url('../img/login-bg@2x.jpg') center no-repeat;
		background-size: cover;
  }

  .login .form-group.password:before {
    background: url('../img/icon-key@2x.png');
    background-size: 11px 11px;
  }
  
}


@media (max-width: 991px) {
	
	.login {
		height: auto;
		padding: 5% 40px;
	}

	.login > div:first-child {
		flex-direction: column;
		align-items: center;
	}

	.login .about {
		text-align: center;
	}

	.login .about .logo {
		text-align: center;
	}

	.login .about h1 {
		font-size: 24px;
	}

	.login .about h1 span {
		font-size: 22px;
	}

	.login .about a {
		margin: 0 auto;
	}

	.login .form-wrap {
		margin-top: 40px;
	}

}
